body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #ed760e;
    color: rgb(245, 242, 242);
    padding: 10px;
    text-align: center;
}
h1 {
    font-size: 36px;
    margin: 0;
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
img {
    display: block;
    margin: 0 auto;
    max-width: 30%;
    height: auto;
}
p {
    line-height: 1.5;
    margin-top: 20px;
}